.footer {
	padding: 0.5rem;
	.footer-list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		.footer-logo {
			height: 3.125rem;
			.footer-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1.6px;
				color: #000000;
				.footer-list-logo {
					font-family: "Encode Sans Semi Expanded", sans-serif;
					font-size: 33px;
					font-weight: 900;
					color: #045a93;
				}
				.footer-logo-image {
					height: 2.438rem;
				}
			}
		}
		.footer-item-container {
			position: sticky;
			height: 3.125rem;
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			width: 80%;
			align-items: center;
			background-color: white;
			.footer-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1.6px;
				.footer-list-link {
					color: black;
					padding: 0.625rem 0.625rem;
					margin: 0.625rem 0.313rem;
					margin-bottom: 2.188rem;
					i {
						font-size: 1.25rem;
					}
				}
			}
		}
	}
}
