.footer {
	padding: 0.5rem;
	.footer-list {
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		.footer-logo {
			height: 3.125rem;
			.footer-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1.6px;
				color: #000000;
				.footer-list-logo {
					font-family: "Encode Sans Semi Expanded", sans-serif;
					font-size: 33px;
					font-weight: 900;
					color: #045a93;
				}
				.footer-logo-image {
					height: 2.438rem;
				}
			}
		}
		.footer-item-container {
			position: sticky;
			height: 3.125rem;
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			width: 80%;
			align-items: center;
			background-color: white;
			.footer-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1.6px;
				.footer-list-link {
					color: black;
					padding: 0.625rem 0.625rem;
					margin: 0.625rem 0.313rem;
					margin-bottom: 2.188rem;
					i {
						font-size: 1.25rem;
					}
				}
			}
		}
		.footer-mobile-container {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 0;
		.footer-list {
			position: relative;
			left: 0;
			.footer-logo {
				display: none;
				.footer-list-item {
					.footer-list-logo {
					}
					.footer-logo-image {
					}
				}
			}
			.footer-item-container {
				.footer-list-item {
					display: flex;
					justify-content: flex-start;
					position: relative;
					left: 0rem;
					.footer-list-link {
						display: flex;
						justify-content: flex-start;
						margin: 0;
						padding: 0.5rem;
						width: auto;
						font-size: 0.75rem;
						i {
							margin: 0;
						}
					}
				}
				#mymail {
					display: none;
				}
				#myname {
					padding: 3rem;
				}
			}
			.footer-mobile-container {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.footer {
		position: relative;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 0;
		.footer-list {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			.footer-logo {
				display: none;
				.footer-list-item {
					font-size: 0.5rem;
					.footer-list-logo {
					}
					.footer-logo-image {
					}
				}
			}
			.footer-item-container {
				display: none;
				.footer-list-item {
					display: flex;
					justify-content: flex-start;
					position: relative;
					left: 0rem;
					padding: 0.03rem;
					#myname {
						font-size: 0.05rem;
						padding: 0;
					}
					.footer-list-link {
						display: flex;
						justify-content: flex-start;
						margin: 0;
						padding: 0rem;
						width: auto;
						font-size: 0.1rem;
						i {
							margin: 0;
						}
						#myname {
							font-size: 0.1rem;
							padding: 0;
						}
					}
				}
				#mymail {
					display: none;
				}
			}
			.footer-mobile-container {
				display: block;
				position: relative;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				.footer-mobile-item {
					display: flex;
					justify-content: space-around;

					.footer-mobile-list {
						color: black;
						margin-bottom: 0.1rem;
						padding-top: 2rem;
						padding-bottom: 2rem;
						.footer-mobile-list-link {
							i {
								color: black;
								font-size: 1.5rem;
								margin-bottom: 0.1rem;
							}
						}
					}
				}
				.footer-mobile-my {
					display: flex;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					.footer-mobile-my-list {
						text-align: center;
						margin-bottom: 0.7rem;
						padding-bottom: 0.4rem;
						.footer-mobile-my-link {
							color: black;
							font-size: 1.5rem;
							text-align: center;
						}
					}
				}
				.footer-mobile-mytext {
					display: flex;
					position: relative;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					.footer-mobile-my-list {
						text-align: center;
						.footer-mobile-my-link {
							color: black;
							font-size: 1.3rem;
							margin-bottom: 0.2rem;
							text-align: center;
						}
					}
				}
			}
		}
	}
}
