.home-main-container {
	display: flex;
	position: relative;
	margin-bottom: 5rem;
	.home-content-back {
		background-color: #045a93;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 92vh;
		width: 60%;

		.home-content-insert {
			margin-left: 12rem;
			margin-top: 3.125rem;
			margin-bottom: 18.75rem;
			.home-subtitle {
				font-family: regular;
				font-size: 1.563rem;
				letter-spacing: 0.1rem;
				font-weight: 400;
				color: #fff;
				margin-top: 2rem;
				margin-bottom: 1.25rem;
			}

			.home-main-title {
				font-family: extra;
				font-size: 4.375rem;
				font-weight: 550;
				line-height: 1;
				color: #fff;
				margin-bottom: 1rem;
			}
			.home-main-text {
				margin-top: 1.875rem;
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 400;
				color: #fff;
				line-height: 1.6;
				margin-bottom: 5%;

				.home-main-text-detail {
					padding: 0;
					margin: 0;
				}
			}
			.home-btn {
				.home-btn-sign {
					font-family: regular;
					font-size: 0.813rem;
					font-weight: 400;
					letter-spacing: 2px;
					background-color: #045a93;
					color: #fff;
					cursor: pointer;
					border: 1px solid #fff;
					border-radius: 10px;
					padding: 0.938rem 2.375rem;
				}
			}
		}
	}
}

.glide {
	position: relative;
	top: -52rem;
	left: 48rem;
	z-index: 600;
	width: 59.5%;
	.home-btn-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		right: 64.5rem;
		top: -9rem;
		button {
			font-family: regular;
			font-size: 0.813rem;
			font-weight: 400;
			letter-spacing: 2px;
			color: #fff;
			border: none;
			background-color: #045a93;
			padding-right: 10px;
			text-align: center;
			font-size: 0.8rem;
			transition: all 0.5s ease-in-out;
		}
		button :hover {
			color: lemonchiffon;
		}
		i {
			padding: 0 1rem;
			font-size: 0.9em;
			color: #fff;
			cursor: auto;
		}
	}
}

.stock-main-container {
	width: 100%;
	height: 90vh;
	background: url("/static/images/stock-background.jpg");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -700px;
	.stock-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		.stock-main-title {
			font-family: extra;
			color: #fff;
			font-size: 3.5rem;
			font-weight: 500;
			padding: 1.875rem 1.875rem;
		}
		.stock-main-text {
			.stock-main-text-detail {
				font-family: regular;
				font-size: 1.6rem;
				font-weight: 400;
				padding: 0.5rem 1.2rem;
				color: #fff;
				margin: 0.3rem;
				text-align: center;
				margin-bottom: 2rem;
			}
		}
		.stock-quote-container {
			.stock-soros {
				margin-bottom: 2rem;
				.stock-descript-quote {
					font-family: regular;
					font-size: 1.25rem;
					font-weight: 400;
					color: rgb(255, 255, 255);
					line-height: 1.6;
					margin-top: 0.5rem;
				}
			}
			.stock-warren {
				margin-bottom: 2rem;
				.stock-descript-quote {
					font-family: regular;
					font-size: 1.25rem;
					font-weight: 400;
					color: rgb(255, 255, 255);
					line-height: 1.6;
					margin-top: 0.5rem;
				}
			}
			.stock-rogers {
				margin-bottom: 2rem;
				.stock-descript-quote {
					font-family: regular;
					font-size: 1.25rem;
					font-weight: 400;
					color: rgb(255, 255, 255);
					line-height: 1.6;
					margin-top: 0.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.home-main-container {
		overflow: hidden;
		margin: 0;
		.home-content-back {
			margin: 0;
			position: relative;
			top: 0;
			bottom: 0;
			width: 100%;
			.home-content-insert {
				text-align: center;
				margin: 0;
				.home-subtitle {
				}

				.home-main-title {
				}
				.home-main-text {
					.home-main-text-detail {
					}
				}
				.home-btn {
					.home-btn-sign {
					}
				}
			}
		}
	}

	.glide {
		display: none;
		.home-btn-arrow {
			button {
			}
			button :hover {
			}
			i {
			}
		}
	}

	.stock-main-container {
		display: none;
		.stock-container {
			.stock-main-title {
			}
			.stock-main-text {
				.stock-main-text-detail {
				}
			}
			.stock-quote-container {
				.stock-soros {
					.stock-descript-quote {
					}
				}
				.stock-warren {
					.stock-descript-quote {
					}
				}
				.stock-rogers {
					.stock-descript-quote {
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.home-main-container {
		.home-content-back {
			.home-content-insert {
				.home-subtitle {
				}

				.home-main-title {
				}
				.home-main-text {
					.home-main-text-detail {
					}
				}
				.home-btn {
					.home-btn-sign {
					}
				}
			}
		}
	}

	.glide {
		display: none;
		.home-btn-arrow {
			button {
			}
			button :hover {
			}
			i {
			}
		}
	}

	.stock-main-container {
		display: none;
		.stock-container {
			.stock-main-title {
			}
			.stock-main-text {
				.stock-main-text-detail {
				}
			}
			.stock-quote-container {
				.stock-soros {
					.stock-descript-quote {
					}
				}
				.stock-warren {
					.stock-descript-quote {
					}
				}
				.stock-rogers {
					.stock-descript-quote {
					}
				}
			}
		}
	}
}
