.home-main-container {
	display: flex;
	position: relative;
	margin-bottom: 5rem;
	.home-content-back {
		background-color: #045a93;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 92vh;
		width: 60%;

		.home-content-insert {
			margin-left: 11.25rem;
			margin-top: 3.125rem;
			margin-bottom: 18.75rem;
			.home-subtitle {
				font-family: regular;
				font-size: 1.563rem;
				letter-spacing: 0.1rem;
				font-weight: 400;
				color: #fff;
				margin-bottom: 1.25rem;
			}

			.home-main-title {
				font-family: extra;
				font-size: 4.375rem;
				font-weight: 550;
				line-height: 1;
				color: #fff;
				margin-bottom: 1%;
			}
			.home-main-text {
				margin-top: 1.875rem;
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 400;
				color: #fff;
				line-height: 1.6;
				margin-bottom: 5%;

				.home-main-text-detail {
					padding: 0;
					margin: 0;
				}
			}
			.home-btn {
				.home-btn-sign {
					font-family: regular;
					font-size: 0.813rem;
					font-weight: 400;
					letter-spacing: 2px;
					background-color: #045a93;
					color: #fff;
					cursor: pointer;
					border: 1px solid #fff;
					border-radius: 10px;
					padding: 0.938rem 2.375rem;
				}
			}
		}
	}
}

.glide {
	position: relative;
	top: -52rem;
	left: 47.5rem;
	z-index: 600;
	.home-btn-arrow {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		right: 89rem;
		top: -9rem;
		button {
			font-family: regular;
			font-size: 0.813rem;
			font-weight: 400;
			letter-spacing: 2px;
			color: #fff;
			border: none;
			background-color: #045a93;
			padding-right: 10px;
			text-align: center;
			font-size: 0.8rem;
			transition: all 0.5s ease-in-out;
		}
		button :hover {
			color: lemonchiffon;
		}
		i {
			padding: 0 1rem;
			font-size: 0.9em;
			color: #fff;
			cursor: auto;
		}
	}
}

.stock-main-container {
	width: 100%;
	height: 90vh;
	background: url("/static/images/stock-background.jpg");
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: -700px;
	.stock-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 4rem;
		margin-left: 0rem;
		.stock-main-title {
			font-family: extra;
			color: #fff;
			font-size: 3.5rem;
			font-weight: 500;
			padding: 1.875rem 1.875rem;
		}
		.stock-main-text {
			.stock-main-text-detail {
				font-family: regular;
				font-size: 1.438 rem;
				font-weight: 400;
				padding: 0.5rem 1.2rem;
				color: #fff;
				margin: 0.3rem;
			}
		}
		.stock-element {
			display: flex;
			padding: 1.875rem 1.875rem;
			.stock-element-list {
				display: flex;
				justify-content: center;
				align-items: center;
				font-family: semi;
				text-align: center;
				font-weight: 500;
				letter-spacing: 0.1em;
				font-size: 1.5rem;
				padding: 1.8rem 1.875rem;
				margin-right: 0.5rem;
				width: 40%;
				color: #fff;
				border: 2px solid white;
				border-radius: 1.8rem;
				opacity: 0.9;
				margin-bottom: 0.8rem;
			}
		}
		.stock-descript-quote {
			font-family: regular;
			font-size: 1.25rem;
			font-weight: 400;
			color: #fff;
			line-height: 1.6;
			margin-top: 0.5rem;
		}
	}
}
.stock-display {
	width: 50%;
	.stock-display {
		font-size: 15px;
		color: #fff;
	}
}
