.hww-main-container {
	.hww-top-container {
		width: 100%;
		height: 55vh;
		background: url("/static/images/hww-top.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-top-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-top-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 2.5rem;
				margin-left: -3.5rem;
			}
			.hww-top-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 400;

				margin-left: -3rem;
				color: white;
				.hww-text-detail {
					padding: 0.75rem;
				}
			}
		}
	}
	.hww-member-container {
		.hww-member-content {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 70px;
			.hww-member-item {
				text-align: center;
				margin-bottom: 8rem;
				.hww-member-img {
					border-radius: 50%;
					margin-bottom: 1rem;
				}

				.hww-member-name {
					font-family: extra;
					font-size: 1.5rem;
					font-weight: 500;
					margin-bottom: 0.8rem;
				}
				.hww-member-job {
					font-family: regular;
					font-size: 1.2rem;
					font-weight: 400;
				}
			}
		}
		.hww-member-title {
			font-family: extra;
			color: black;
			font-size: 3rem;
			font-weight: 500;
			text-align: center;
			margin-top: 11rem;
			margin-bottom: 8rem;
		}
	}
	.hww-work-container {
		width: 100%;
		height: 55vh;
		background: url("/static/images/hww-work.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-work-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-work-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 2.5rem;
				margin-left: -3.5rem;
			}
			.hww-work-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-work-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
	.hww-cfa-container {
		width: 100%;
		height: 75vh;
		background: url("/static/images/hww-cfa.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-cfa-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-cfa-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 4rem;
				margin-left: -3.5rem;
			}
			.hww-cfa-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 450;
				margin-left: -3rem;
				color: white;
				.hww-cfa-detail {
					padding: 0.75rem;
					margin-bottom: 1.2rem;
				}
			}
		}
	}
	.hww-invest-container {
		width: 100%;
		height: 65vh;
		background: url("/static/images/hww-invest.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-invest-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-invest-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 4rem;
				margin-left: -3.5rem;
			}
			.hww-invest-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-invest-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
	.hww-ceo-container {
		width: 100%;
		height: 70vh;
		background: url("/static/images/hww-ceo.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-ceo-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-ceo-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 6rem;
				margin-left: -3.5rem;
			}
			.hww-ceo-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-ceo-detail {
					padding: 0.75rem;
					margin-bottom: 0.7rem;
				}
			}
		}
	}
	.hww-fund-container {
		width: 100%;
		height: 70vh;
		background: url("/static/images/hww-fund.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-fund-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-fund-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 5rem;
				margin-left: -3.5rem;
			}
			.hww-fund-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-fund-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}
