.hww-main-container {
	.hww-top-container {
		width: 100%;
		height: 55vh;
		background: url("/static/images/hww-top.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-top-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-top-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 2.5rem;
				margin-left: -3.5rem;
			}
			.hww-top-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 400;

				margin-left: -3rem;
				color: white;
				.hww-text-detail {
					padding: 0.75rem;
				}
				.hww-mobile-text {
					display: none;
				}
			}
		}
	}
	.hww-member-container {
		.hww-member-content {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			margin-left: 20%;
			margin-right: 20%;
			margin-top: 70px;
			.hww-member-item {
				text-align: center;
				margin-bottom: 8rem;
				.hww-member-img {
					border-radius: 50%;
					margin-bottom: 1rem;
				}

				.hww-member-name {
					font-family: extra;
					font-size: 1.5rem;
					font-weight: 500;
					margin-bottom: 0.8rem;
				}
				.hww-member-job {
					font-family: regular;
					font-size: 1.2rem;
					font-weight: 400;
				}
			}
		}
		.hww-member-title {
			font-family: extra;
			color: black;
			font-size: 3rem;
			font-weight: 500;
			text-align: center;
			margin-top: 11rem;
			margin-bottom: 8rem;
		}
	}
	.hww-work-container {
		width: 100%;
		height: 55vh;
		background: url("/static/images/hww-work.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-work-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-work-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 2.5rem;
				margin-left: -3.5rem;
			}
			.hww-work-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-work-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
	.hww-cfa-container {
		width: 100%;
		height: 75vh;
		background: url("/static/images/hww-cfa.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-cfa-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-cfa-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 4rem;
				margin-left: -3.5rem;
			}
			.hww-cfa-text {
				font-family: regular;
				font-size: 1.25rem;
				font-weight: 450;
				margin-left: -3rem;
				color: white;
				.hww-cfa-detail {
					padding: 0.75rem;
					margin-bottom: 1.2rem;
				}
			}
		}
	}
	.hww-invest-container {
		width: 100%;
		height: 65vh;
		background: url("/static/images/hww-invest.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-invest-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-invest-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 3.2rem;
				margin-top: 4rem;
				margin-left: -3.5rem;
			}
			.hww-invest-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-invest-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
	.hww-ceo-container {
		width: 100%;
		height: 70vh;
		background: url("/static/images/hww-ceo.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-ceo-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-ceo-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 6rem;
				margin-left: -3.5rem;
			}
			.hww-ceo-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-ceo-detail {
					padding: 0.75rem;
					margin-bottom: 0.7rem;
				}
			}
		}
	}
	.hww-fund-container {
		width: 100%;
		height: 70vh;
		background: url("/static/images/hww-fund.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		.hww-fund-content {
			text-align: left;
			padding: 5rem 9rem 6rem 11rem;
			.hww-fund-title {
				font-family: extra;
				color: white;
				font-size: 3.5rem;
				font-weight: 500;
				padding: 0.1rem 2rem;
				margin-bottom: 4rem;
				margin-top: 5rem;
				margin-left: -3.5rem;
			}
			.hww-fund-text {
				font-family: regular;
				font-size: 1.5rem;
				font-weight: 450;

				margin-left: -3rem;
				color: white;
				.hww-fund-detail {
					padding: 0.75rem;
					margin-bottom: 0.5rem;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.hww-main-container {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: 0;
		.hww-top-container {
			.hww-top-content {
				width: 100%;
				top: 9rem;
				padding: 0;
				padding-top: 5rem;
				.hww-top-title {
					padding: 0;
					text-align: center;
					position: relative;
					top: 2rem;
				}
				.hww-top-text {
					text-align: center;
					.hww-text-detail {
						font-size: 1.1rem;
						margin-bottom: 1rem;
						padding: 0;
						padding-bottom: 2rem;
						padding-left: 2.5rem;
						position: relative;
						top: 4rem;
						text-align: center;
					}
					.hww-mobile-text {
						display: none;
					}
				}
			}
		}
		.hww-member-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			.hww-member-content {
				position: relative;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				padding: 0;
				margin: 0;
				.hww-member-item {
					.hww-member-img {
					}

					.hww-member-name {
					}
					.hww-member-job {
					}
				}
			}
			.hww-member-title {
			}
		}
		.hww-work-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-work-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-work.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-work-title {
					margin: 0;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-work-text {
					.hww-work-detail {
						font-size: 1.2rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
					}
				}
			}
		}
		.hww-cfa-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-cfa-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-cfa.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-cfa-title {
					margin: 0;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-cfa-text {
					.hww-cfa-detail {
						font-size: 1.2rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
					}
				}
			}
		}
		.hww-invest-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-invest-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-invest.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-invest-title {
					margin: 0;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-invest-text {
					.hww-invest-detail {
						font-size: 1.2rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
					}
				}
			}
		}
		.hww-ceo-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-ceo-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-ceo.jpg);
				background-repeat: no-repeat;
				background-size: contain;
				.hww-ceo-title {
					margin: 0;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-ceo-text {
					.hww-ceo-detail {
						font-size: 1.2rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
					}
				}
			}
		}
		.hww-fund-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: 30vh;
			.hww-fund-content {
				position: relative;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				padding: 0;
				margin: 0;
				width: 100%;
				background: url(/static/images/hww-fund.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-fund-title {
					margin: 0;
					font-size: 2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 2rem;
				}
				.hww-fund-text {
					.hww-fund-detail {
						font-size: 1.2rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.hww-main-container {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		padding: 0;
		margin: 0;
		.hww-top-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			.hww-top-content {
				width: 100%;
				top: 9rem;
				padding: 0;
				padding-top: 5rem;
				.hww-top-title {
					padding: 0;
					text-align: center;
					font-size: 2rem;
					position: relative;
					top: -1.1rem;
					margin: 0;
				}
				.hww-top-text {
					text-align: center;
					.hww-text-detail {
						display: none;
					}
					.hww-mobile-text {
						display: block;
						font-size: 0.7rem;
						margin-bottom: 2rem;
						margin-top: 2rem;
						padding-left: 2rem;
						text-align: center;
					}
				}
			}
		}
		.hww-member-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			.hww-member-content {
				position: relative;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;

				padding: 0;
				margin: 0;
				.hww-member-item {
					.hww-member-img {
						width: 7rem;
					}

					.hww-member-name {
					}
					.hww-member-job {
					}
				}
			}
			.hww-member-title {
				font-size: 1.8rem;
				margin-top: 5rem;
				margin-bottom: 4rem;
			}
		}
		.hww-work-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-work-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-work.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-work-title {
					margin: 0;
					font-size: 1.2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-work-text {
					margin-left: 0;
					margin-right: 0;
					.hww-work-detail {
						font-size: 0.7rem;
						padding: 0;
						margin: 1rem;
						margin-left: 0;
						margin-right: 0;
						text-align: center;
						position: relative;
						left: 0rem;
						top: 1rem;
						margin-left: 0;
						margin-right: 0;
					}
				}
			}
		}
		.hww-cfa-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-cfa-content {
				width: 100%;
				height: 35vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-cfa.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-cfa-title {
					margin: 0;
					font-size: 1.2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-cfa-text {
					.hww-cfa-detail {
						font-size: 0.7rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
						position: relative;
						left: 0rem;
						margin-left: 0;
						margin-right: 0;
						padding-left: 3rem;
					}
				}
			}
		}
		.hww-invest-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-invest-content {
				width: 100%;
				height: 35vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-invest.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-invest-title {
					margin: 0;
					font-size: 1.2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-invest-text {
					.hww-invest-detail {
						font-size: 0.7rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
						position: relative;
						left: 0rem;
						margin-left: 0;
						margin-right: 0;
						padding-left: 3rem;
					}
				}
			}
		}
		.hww-ceo-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: auto;
			.hww-ceo-content {
				width: 100%;
				height: 30vh;
				padding: 0;
				margin: 0;
				background: url(/static/images/hww-ceo.jpg);
				background-repeat: no-repeat;
				background-size: contain;
				.hww-ceo-title {
					margin: 0;
					font-size: 1.2rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 3rem;
				}
				.hww-ceo-text {
					.hww-ceo-detail {
						font-size: 0.7rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
						position: relative;
						left: 0rem;
						margin-left: 0;
						margin-right: 0;
						padding-left: 3rem;
					}
				}
			}
		}
		.hww-fund-container {
			position: relative;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			padding: 0;
			margin: 0;
			height: 30vh;
			margin-bottom: 1rem;
			.hww-fund-content {
				position: relative;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				padding: 0;
				margin: 0;
				width: 100%;
				background: url(/static/images/hww-fund.jpg);
				background-repeat: no-repeat;
				background-size: cover;
				.hww-fund-title {
					margin: 0;
					font-size: 1.3rem;
					text-align: center;
					margin-bottom: 2rem;
					padding-top: 2rem;
				}
				.hww-fund-text {
					.hww-fund-detail {
						font-size: 0.7rem;
						padding: 0;
						margin: 1rem;
						text-align: center;
						position: relative;
						left: 0rem;
						margin-left: 0;
						margin-right: 0;
						padding-left: 3rem;
					}
				}
			}
		}
	}
}
