.nav {
	z-index: 10;
	position: fixed;
	width: 100%;
	.nav-list {
		padding: 0.2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		.nav-logo {
			height: 50px;
			.nav-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1.6px;
				color: #000000;
				.nav-list-logo {
					font-family: "Encode Sans Semi Expanded", sans-serif;
					font-size: 33px;
					font-weight: 900;
					color: #045a93;
				}
				.nav-logo-image {
					height: 39px;
				}
			}
		}
		.nav-item-container {
			position: sticky;
			height: 50px;
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			width: 80%;
			align-items: center;
			background-color: white;
			.nav-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1.6px;
				.nav-list-link {
					color: black;
					padding: 20px 30px;
					margin: 10px 5px;
					margin-bottom: 35px;
					transition: all 0.3s ease-in-out;
				}
				.nav-list-link:hover {
					border-bottom: #045a93;
					opacity: 0.8;
					box-shadow: inset 0 0.3rem 0 #045a93;
				}
			}
		}
	}
}
