.nav {
	z-index: 200;
	position: fixed;
	width: 100%;
	.nav-list {
		padding: 0.2rem;
		display: flex;
		justify-content: space-around;
		align-items: center;
		background-color: white;
		.nav-logo {
			height: 50px;
			.nav-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 500;
				letter-spacing: 1.6px;
				color: #000000;
				.nav-list-logo {
					font-family: "Encode Sans Semi Expanded", sans-serif;
					font-size: 33px;
					font-weight: 900;
					color: #045a93;
				}
				.nav-logo-image {
					height: 39px;
				}
			}
			.nav-mobile {
				display: none;
			}
		}
		.nav-item-container {
			position: sticky;
			height: 50px;
			display: flex;
			justify-content: flex-end;
			margin: 0px;
			padding: 0px;
			width: 80%;
			align-items: center;
			background-color: white;
			.nav-list-item {
				font-family: "Encode Sans Semi Expanded", sans-serif;
				font-size: 14px;
				font-weight: 600;
				letter-spacing: 1.6px;
				.nav-list-link {
					color: black;
					padding: 20px 30px;
					margin: 10px 5px;
					margin-bottom: 35px;
					transition: all 0.3s ease-in-out;
				}
				.nav-list-link:hover {
					border-bottom: #045a93;
					opacity: 0.8;
					box-shadow: inset 0 0.3rem 0 #045a93;
				}
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.nav {
		.nav-list {
			display: block;
			.nav-logo {
				display: flex;
				justify-content: flex-start;
				.nav-list-item {
					.nav-list-logo {
					}
					.nav-logo-image {
					}
				}
				.nav-mobile {
					display: none;
				}
			}
			.nav-item-container {
				display: flex;
				justify-content: center;
				text-align: center;
				margin-left: 5rem;
				.nav-list-item {
					.nav-list-link {
						text-align: center;
						display: flex;
						justify-content: space-between;
						align-items: center;
						font-size: 1rem;
						margin: 0;
						padding: 1.1rem;
					}
					.nav-list-link:hover {
					}
				}
			}
		}
	}
}

@media screen and (max-width: 375px) {
	.nav {
		display: block;
		.nav-list {
			display: block;
			.nav-logo {
				.nav-list-item {
					.nav-list-logo {
					}
					.nav-logo-image {
					}
				}
				.nav-mobile {
					position: relative;
					top: 0.45rem;
					display: block;
					font-size: 3rem;
					color: #fff;
					display: block;
				}
			}
			.nav-item-container {
				display: none;
				// display: block;
				width: 200px;
				height: 20rem;
				position: absolute;
				top: 60px;
				bottom: 0;
				left: 0;
				z-index: 10;
				.nav-list-item {
					display: block;
					padding: 10px 10px;
					margin: 0;
					.nav-list-link {
						padding: 0;
						margin: 0;
						display: block;
						padding: 10px 10px;
						padding-bottom: 15px;
						font-size: 1.4rem;
						border-bottom: 1px solid #045a93;
					}
				}
			}
		}
	}
}
