extends base/main

block content
  .home-main-container
    .home-content-back
      .home-content-insert
        h2.home-subtitle WELCOME TO...
        h1.home-main-title KOREA UIC
        .home-main-text
          p.home-main-text-detail Is the biggest University Investment Club
          p.home-main-text-detail association with 36 universities and 40 clubs involved.
          p.home-main-text-detail Let's go to see how we work!
        .home-btn
          a(href="/hww")  
            button.home-btn-sign
              span.home-btn-sign-text SEE HOW WE WORK
  .glide
    .glide__track(data-glide-el="track")
      ul.glide__slides
        li.glide__slide
          img(src="/static/images/home.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home0.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home1.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home3.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home4.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home5.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home6.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home7.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home8.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home9.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home11.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home12.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home13.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home14.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home15.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home16.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home17.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home18.jpg", alt="")
        li.glide__slide
          img(src="/static/images/home2.jpg", alt="")
    .home-btn-arrow(data-glide-el="controls")
      i.fas.fa-arrow-left        
      button(data-glide-dir="<") PREVIOUS
      button(data-glide-dir=">") NEXT
      i.fas.fa-arrow-right
       
      
  .stock-main-container
    .stock-container
      h3.stock-main-title Quotes
      .stock-main-text
        p.stock-main-text-detail Financial study through famous quotes       
      .stock-quote-container
        .stock-soros
          p.stock-descript-quote The financial markets generally are unpredictable. 
          p.stock-descript-quote So that one has to have different scenarios... The idea 
          p.stock-descript-quote that you can actually predict what's going to happen contradicts
          p.stock-descript-quote my way of looking at the market - George Soros
        .stock-warren
          p.stock-descript-quote I will tell you the secret to getting rich on Wall Street. 
          p.stock-descript-quote You try to be greedy when others are fearful.
          p.stock-descript-quote And you try to be fearful when others are greedy.” – Warren Buffett
        .stock-rogers
          p.stock-descript-quote Don't gamble!
          p.stock-descript-quote take all your savings and buy some good stock and hold it till it goes up,
          p.stock-descript-quote then sell it. If it don't go up, don't buy it - Will Rogers
    

     


    

        