extends base/main

block content
  .home-main-container
    .home-content-back
      .home-content-insert
        h2.home-subtitle WELCOME TO...
        h1.home-main-title KOREA UIC
        .home-main-text
          p.home-main-text-detail UIC is university student investment club,
          p.home-main-text-detail also an association of 35 universities and 39 clubs
          p.home-main-text-detail and is a gathering of future finance
        button.home-btn-sign
          span.home-btn-sign-text SEE HOW WE WORKS
        .home-btn-previous PREVIOUS
        .home-btn-next  NEXT
    .home-img
      img.home-img-origin(src="/static/images/exam4.jpg")
  .stock-main-container
    .stock-container
      h3.stock-main-title INDEX
      .stock-main-text
        p.stock-main-text-detail Korea UIC studies the traditional financial world,
        p.stock-main-text-detail  exchange rates or blockchain ecosystem only those who wish.
        p.stock-main-text-detail  we have history and will make history even further.
      ul.stock-element
        li.stock-element-list Stock quotes
        li.stock-element-list Exchange rates
        li.stock-element-list Blockchain index
      p.stock-descript-quote The financial markets generally are unpredictable. 
      p.stock-descript-quote So that one has to have different scenarios... The idea 
      p.stock-descript-quote that you can actually predict what's going to happen contradicts
      p.stock-descript-quote my way of looking at the market - George Soros
    .stock-display
      h3.stock-display display image

        