extends base/main

block content
  .home-main-container
    .home-content-back
      .home-content-insert
        h2.home-subtitle WELCOME TO...
        h1.home-main-title KOREA UIC
        .home-main-text
          p.home-main-text-detail UIC is university student investment club,
          p.home-main-text-detail also an association of 35 universities and 39 clubs
          p.home-main-text-detail and is a gathering of future finance
        button.home-btn-sign
          span.home-btn-sign-text SIGN IN
        div
          .home-btn-previous PREVIOUS
          .home-btn-next  NEXT
    .home-img
      img.home-img-origin(src="/static/images/exam4.jpg")
  .stock-main-container
    .stock-container
      h2.stock-main-title Stock Quotes
      .stock-main-text
        p.stock-main-text-detail Korea UIC studies the traditional financial world,
        p.stock-main-text-detail  exchange rates or blockchain ecosystem.
        p.stock-main-text-detail  we have history and will make history even further.
    .stock-see
      div
        a(href='#')
          span Stock Quotes
      div
        a(href='#')
          span Exchange rates
      div
        a(href='#')
          span Blockchain Index
