extends base/main

block content
  .hww-main-container
    .hww-top-container
      .hww-top-content
        h3.hww-top-title HOW WE WORK
        .hww-top-text
          p.hww-text-detail UIC를 통해 소속된 투자동아리들과 기업들 간의 교류 환경을 제공합니다.
          p.hww-text-detail 소속 투자동아리들은 기업과의 교류한계를 넘어선 다양한 활동 범위를 확장할 수  있습니다.
          p.hww-text-detail 또한 기업들은 UIC를 통해 전국적 투자동아리 인재들에게 기회를 제공하게 됩니다
          p.hww-text-detail UIC를 통해 소속된 투자동아리들과 기업들 간의 교류 환경을 제공합니다.
    .hww-member-container
       h3.hww-member-title UIC 13th Executive Staff
       .hww-member-content
        .hww-member-item
          img.hww-member-img(src="/static/images/member1.jpg", alt="")
          h3.hww-member-name 여경탁
          h5.hww-member-job 회장
        .hww-member-item
          img.hww-member-img(src="/static/images/member2.jpg", alt="")
          h3.hww-member-name 박찬형
          h5.hww-member-job 부회장
        .hww-member-item
          img.hww-member-img(src="/static/images/member3.jpg", alt="")
          h3.hww-member-name 위진욱
          h5.hww-member-job 기획팀장
        .hww-member-item
          img.hww-member-img(src="/static/images/member4.jpg", alt="")
          h3.hww-member-name 김인영
          h5.hww-member-job 재무팀장
        .hww-member-item
          img.hww-member-img(src="/static/images/member5.jpg", alt="")
          h3.hww-member-name 이승은
          h5.hww-member-job 인사팀장
        .hww-member-item
          img.hww-member-img(src="/static/images/member6.jpg", alt="")
          h3.hww-member-name 임예은
          h5.hww-member-job 마케팅팀장
    .hww-work-container
      .hww-work-content
        h3.hww-work-title 정기총회 및 연합세션
        .hww-work-text
          p.hww-work-detail 매월 1회 정기적으로 총회와 연합세션을 진행
          p.hww-work-detail 사전 설문조사를 통한 소속 동아리원들의 희망 주제 선정
          p.hww-work-detail 선정된 주제를 바탕으로 한 연사님 초청
          p.hww-work-detail 전국투자자교육협의회의 지원으로 업계 최고의 연사님을 모십니다.
    .hww-cfa-container
      .hww-cfa-content
        h3.hww-cfa-title 금융권 직무 콘서트 x CFA
        .hww-cfa-text
          p.hww-cfa-detail 매년 5월 CFA한국협회와 함께하는 직무 콘서트 진행
          p.hww-cfa-detail 사전 설문조사를 통한 소속 동아리원들의 듣고싶은 직무 선정
          p.hww-cfa-detail 선정된 직무들을 바탕으로 한 현업에 계신 분들을 초청
          p.hww-cfa-detail 토크콘서트와 같이 자유로운 분위기, 유익한 질의 응답 진행
          p.hww-cfa-detail CFA 시험 소개 및 자격증 정보 공유, 조언
    .hww-invest-container
      .hww-invest-content
        h3.hww-invest-title 투자콘서트 x CFA x 금융투자협회
        .hww-invest-text
          p.hww-invest-detail 매년 8월 UIC 투자콘서트를 개최
          p.hww-invest-detail 기업분석 리서치 대회이며 시상은 금융투자협회장상 수여
          p.hww-invest-detail UIC 소속 동아리 회원 참여, 정통있는 리서치 대회
          p.hww-invest-detail 심사위원으로 CFA 현직자분들이 참여, 공정한 평가로 적용
    .hww-ceo-container
      .hww-ceo-content
        h3.hww-ceo-title CEO 특강 x 전국투자자교육협의회
        .hww-ceo-text
          p.hww-ceo-detail 매년 6월, 9월 진행
          p.hww-ceo-detail 매해 다양한 분야의 금융기관 대표님과 실무자 초청
          p.hww-ceo-detail 각 분야 대표자분들의 심도있는 강연
          p.hww-ceo-detail 대표님들과 직접 소통하며 자유로운 질의 응답
    .hww-fund-container
      .hww-fund-content
        h3.hww-fund-title 헤지펀트 콘서트 x 금융투자협회
        .hww-fund-text
          p.hww-fund-detail 매년 11월 금융투자협회 여의도 불스홀에서 진행
          p.hww-fund-detail 타임폴리오 황성환 대표님과 국내 헤지펀드 운용사 대표님들의 강연
          p.hww-fund-detail 운용사 대표님들과 함께하는 투자자에 대한 진솔한 소통의 장
          p.hww-fund-detail 대표님들과 직접 소통하며 자유로운 질의 응답
        
          

