extends base/main

block content
 .intro-main-container
    .intro-top-container
      .intro-top-content
        h3.intro-top-title UIC란?
        .intro-top-text
          p.intro-text-detail University student Investment Club의 약자로,
          p.intro-text-detail 전국 최대 대학생 투자동아리 연합입니다.
          p.intro-text-detail  36개 대학 40개의 동아리 누적 회원 2만명으로 이루어져있습니다.
          p.intro-text-detail  대표적으로 금융투자협회와 CFA 한국협회가 UIC를 후원하고 있습니다.
          p.intro-text-detail  또한 국내 유수의 금융기관과 파트너쉽을 맺어 모의투자 및 실전투자대회,
          p.intro-text-detail  전국 대학생 리서치대회, 투자 강연회 및 금융포럼을 개최하고 있습니다. 
    ul.intro-status
      .status-box
        i.fas.fa-university
        .li.intro-status-element 36개 대학
      .status-box
        i.fas.fa-cubes
        .li.intro-status-element 40개 동아리
      .status-box
        i.fas.fa-users
        li.intro-status-element 누적 2만명

    .intro-roadmap
      .intro-roadmap-content
        h3.intro-roadmap-title RoadMap
        .intro-roadmap-text
          p.intro-roadmap-detail 로드맵은 향후 사정에 의해 변경될 수 있습니다.
        .intro-roadmap-img
          img(src="/static/images/uic-roadmap.jpg")     
      