extends base/main

block content
  .member-main-container
    .member-top-container
      .member-top-content
        h3.member-top-title Members
        .member-top-text
          p.member-text-detail 2020년 현재 36개 학교, 40개의 동아리가 소속되어 활동하고있습니다.
    .member-design-container
      .member-design-content
        .member-design-img
          img(src="/static/images/member-design.jpg")
    .member-member-container
      h3.member-member-title UIC members
      .member-member-content
        .member-member-item
          img.member-member-img(src="/static/images/uni1.jpg", alt="")
          h3.member-member-name REDMAX
          h5.member-member-job 강남대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni2.jpg", alt="")
          h3.member-member-name 건국금융위원회
          h5.member-member-job 건국대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni3.jpg", alt="")
          h3.member-member-name GREEN RICH
          h5.member-member-job 경기대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni4.jpg", alt="")
          h3.member-member-name i.Lab
          h5.member-member-job 경기대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni5.jpg", alt="")
          h3.member-member-name Stock Research
          h5.member-member-job 경희대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni6.jpg", alt="")
          h3.member-member-name RISK
          h5.member-member-job 고려대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni7.jpg", alt="")
          h3.member-member-name KWUSFI
          h5.member-member-job 광운대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni8.jpg", alt="")
          h3.member-member-name 와이번
          h5.member-member-job 국민대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni9.jpg", alt="")
          h3.member-member-name IF
          h5.member-member-job 단국대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni10.jpg", alt="")
          h3.member-member-name 증권연구회
          h5.member-member-job 대구대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni11.jpg", alt="")
          h3.member-member-name ISSUE
          h5.member-member-job 덕성여자대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni12.jpg", alt="")
          h3.member-member-name RICH
          h5.member-member-job 동국대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni13.jpg", alt="")
          h3.member-member-name MIRS
          h5.member-member-job 명지대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni14.jpg", alt="")
          h3.member-member-name SRC
          h5.member-member-job 상명대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni15.jpg", alt="")
          h3.member-member-name SRS
          h5.member-member-job 서강대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni16.jpg", alt="")
          h3.member-member-name 불기둥
          h5.member-member-job 삼육대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni17.jpg", alt="")
          h3.member-member-name 증권연구회
          h5.member-member-job 서울시립대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni18.jpg", alt="")
          h3.member-member-name SIL
          h5.member-member-job 성결대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni19.jpg", alt="")
          h3.member-member-name S.fin
          h5.member-member-job 성신여자대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni20.jpg", alt="")
          h3.member-member-name RIDERS
          h5.member-member-job 수원대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni21.jpg", alt="")
          h3.member-member-name SUIBS
          h5.member-member-job 숭실대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni22.jpg", alt="")
          h3.member-member-name SFA
          h5.member-member-job 숭실대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni23.jpg", alt="")
          h3.member-member-name VIPS
          h5.member-member-job 숭실대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni24.jpg", alt="")
          h3.member-member-name WION
          h5.member-member-job 연세대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni25.jpg", alt="")
          h3.member-member-name YUFIL
          h5.member-member-job 영남대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni26.jpg", alt="")
          h3.member-member-name AFIA
          h5.member-member-job 아주대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni27.jpg", alt="")
          h3.member-member-name REDFORCE
          h5.member-member-job 원광대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni28.jpg", alt="")
          h3.member-member-name Argonauts
          h5.member-member-job 인천대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni29.jpg", alt="")
          h3.member-member-name 블루칩뮤추얼펀드
          h5.member-member-job 인하대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni30.jpg", alt="")
          h3.member-member-name BLASH
          h5.member-member-job 전남대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni31.jpg", alt="")
          h3.member-member-name RFS
          h5.member-member-job 중앙대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni32.jpg", alt="")
          h3.member-member-name SIRT
          h5.member-member-job 충남대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni33.jpg", alt="")
          h3.member-member-name Wiz
          h5.member-member-job 충북대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni34.jpg", alt="")
          h3.member-member-name GVI
          h5.member-member-job 한국외국어대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni35.jpg", alt="")
          h3.member-member-name Postrade
          h5.member-member-job 한국외국어대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni36.jpg", alt="")
          h3.member-member-name FLASH
          h5.member-member-job 한성대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni40.jpg", alt="")
          h3.member-member-name STOCKWARS
          h5.member-member-job 한양대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni37.jpg", alt="")
          h3.member-member-name HIR
          h5.member-member-job 협성대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni38.jpg", alt="")
          h3.member-member-name VO-ERA
          h5.member-member-job 홍익대학교
        .member-member-item
          img.member-member-img(src="/static/images/uni39.jpg", alt="")
          h3.member-member-name SURI
          h5.member-member-job 연합동아리