footer
  nav.footer
    ul.footer-list
      .footer-logo
        li.footer-list-item
          a.footer-list-logo(href='home.html') UIC
          img.footer-logo-image(src='/static/images/logo1.png')
      .footer-item-container
        li.footer-list-item
          a.footer-list-link(href='https://cafe.naver.com/koreauic' target='_blank')
            i.fas.fa-coffee
        li.footer-list-item
          a.footer-list-link(href='https://www.facebook.com/koreauic/' target='_blank')
            i.fab.fa-facebook-square
        li.footer-list-item
          a.footer-list-link(href='https://www.instagram.com/uic.korea/' target='_blank')
            i.fab.fa-instagram
        li.footer-list-item
          a.footer-list-link(href='https://www.youtube.com/user/Koreauic' target='_blank')
            i.fab.fa-youtube
        li.footer-list-item
          a.footer-list-link(href='https://pf.kakao.com/_xfecmM' target='_blank')
            i.fas.fa-comment
        li.footer-list-item
          a.footer-list-link#my(href='https://www.google.com/' target='_blank') Contact : koreauic@gmail.com
        li.footer-list-item
          a.footer-list-link#myname(href='https://blog.naver.com/chan7749' target="_blank") Site Copyright13th부회장 박찬형
        li.footer-list-item
          a.footer-list-link#mymail(href='https://blog.naver.com/chan7749' target="_blank") chan7749@naver.com