footer
  nav
    ul
      li
        .logo
          a(href='#') logo
      li
        a(href='#') Cafe
      li
        a(href='#') Contact : koreauic@gmail.com
      li
        div
          a(href='#') Facebook
        div
          a(href='#') Instagram
        div
          a(href='#') Youtube
        div
          a(href='#') Kakao
      li
        a(href='#') Site Creator : &#xBC15;&#xCC2C;&#xD615;
      li
        a(href='#') UIC 13th &#xBD80;&#xD68C;&#xC7A5; : chan7749@naver.com