header
  nav.nav
    ul.nav-list
      .nav-logo 
        li.nav-list-item        
          a.nav-list-logo(href='/') UIC
          img.nav-logo-image(src='/static/images/logo1.png')
      .nav-item-container
        li.nav-list-item
          a.nav-list-link(href='/intro') INTRODUCE
        li.nav-list-item
          a.nav-list-link(href='/members') MEMBERS
        li.nav-list-item
          a.nav-list-link(href='/activity') ACTIVITY
        li.nav-list-item
          a.nav-list-link(href='/hww') HOW WE WORKS
        li.nav-list-item
          a.nav-list-link(href='/sponsor') SPONSOR