header
  nav.nav
    ul.nav-list
      .nav-logo
        li.nav-list-item        
          a.nav-list-logo(href='home.html') UIC
          img.nav-logo-image(src='/static/images/logo1.png')
      .nav-item-container
        li.nav-list-item
          a.nav-list-link(href='intro.html') INTRODUCE
        li.nav-list-item
          a.nav-list-link(href='members.html') MEMBERS
        li.nav-list-item
          a.nav-list-link(href='#') ACTIVITY
        li.nav-list-item
          a.nav-list-link(href='#') HOW WE WORKS
        li.nav-list-item
          a.nav-list-link(href='#') SPONSOR