header
  nav.nav
    ul.nav-list
      .nav-logo 
        li.nav-list-item        
          a.nav-list-logo(href='/') UIC
          img.nav-logo-image(src='/static/images/logo1.png')
          a#m-nav-btn.nav-mobile(href="#")
            i.fas.fa-bars
      #m-container.nav-item-container
        li.nav-list-item
          a.nav-list-link(href='/intro') INTRODUCE
        li.nav-list-item
          a.nav-list-link(href='/members') MEMBERS
        //- li.nav-list-item
        //-   a.nav-list-link(href='/activity') RESEARCH
        li.nav-list-item
          a.nav-list-link(href='/hww') HOW WE WORK
        li.nav-list-item
          a.nav-list-link(href='/sponsor') SPONSOR